.main-container-chart{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.accounts-head-charts{
    color: #343C6A;
    font-weight: 600;
    font-size: 1.8rem;
    margin-left: 1rem;
    background: none;
    align-self: flex-start;
  }
@media screen and (max-width:991px) {
    
    .chart{
        height: 10rem;
        width:20rem;
        margin-top: 1rem;
    }
}
@media screen and (min-width:992px) {
    .chart{
        height: 20rem;
        width:50rem;
        margin-top: 3rem;
    }
}